/* Add your global styles here */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #000;
    color: #fff;  /* Set text color to white */
    padding: 10px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 100px; /* Adjust the max-width as needed */
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu ul li {
    margin-right: 20px;
}

.menu ul li a {
    color: #fff;  /* Set text color to white */
    text-decoration: none;
}

.mobile-menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.mobile-menu-toggle span {
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin: 5px 0;
}

.mobile-menu {
    display: none;
}

.mobile-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mobile-menu ul li {
    padding: 10px;
    text-align: center;
}

/* Add media query for mobile view */
@media only screen and (max-width: 768px) {
    .menu {
        display: none;
    }

    .mobile-menu-toggle {
        display: flex;
    }

    .mobile-menu {
        display: block;
    }
}
